<template>
  <div class="container">
      <v-select
        :label="placeholder"
        cache-items
        :loading="loading"
        item-text="name"
        item-value="code"
        no-data-text = "Нет данных"
        :required="required"
        :items="items"
        v-model="selectedValue"
        @focus.native="onFocus()"
        @input="onInput($event)"
    ></v-select>
    <i class="icon material-icons nullify" @click="doNullify()" v-if="isNullable">clear</i>  
  </div>
</template>

<script>
  export default {
    name: 'ait-dictbox',
    
      props: {
        'placeholder': {
          type: String,
          default: 'Введите строку для поиска...'
        },
        'required': {
          type: Boolean,
          default: false
        },
        'nullable': {
          type: Boolean,
          default: false
        },
        'nameField': {
          type: String,
          default: 'name'
        },
        'codeField': {
          type: String,
          default: 'code'
        },
        'value' : {
          type: Object
        },
        'dictType' : {
          type: String,
          default: ""
        }
      },

      data () {
        return {
          items: [],
          loading: false,
          loaded: false,
          search: null,
          selectedValue: null,
          isNullable: this.nullable
        }
      },

      mounted () {
        if (this.value)
          this.items.push(this.value);
        this.selectedValue = this.value;
      },

      watch: {
        value: function (newValue) {
          if (newValue)
            this.items.push(newValue);
          this.selectedValue = newValue
        }    
      },

      methods:  {
        onInput(event) {
          var result = this.items.filter((e) => {
            return e.code === event;
          });
          if (result && result.length > 0)
            this.$emit('input', result[0]);
        },
        
        onFocus() {
          if (!this.loaded) {
            this.loading = true;
            this.getItems()
              .then(
                result => {this.items = result; this.loading = false; this.loaded = true; }, 
                error => { this.loading = false; }
              );
          }
        },

        getItems () {
          return this.$componentStore.getItems(this.dictType)
        },

        resultCallback (result) {
          this.loading = false;
          this.items = result;
        },

        doNullify () {
          this.selectedValue = null;
            this.$emit('input', null);
        }
      }
  }
</script>

<style scoped>
  .container {
    display: flex;
    padding: 0;
   
  }
  .container input {
    flex: 1;
  }
  .container i.nullify {
    flex: 0 0;
    margin-top: -8px;
    margin-left: -2px;
    cursor: pointer;
  }
</style>
