<template>
  <div class="search">
    <div class="search-input">
      <v-text-field
          :label="placeholder"
          append-icon="search"
          :append-icon-cb="doSearch"
          @keydown.enter.native="doSearch"
          :value="searchText" 
          @input.native="searchText = $event.target.value"
      ></v-text-field>
      <i class="icon material-icons" @click="filtersVisible = !filtersVisible">arrow_drop_down</i>
    </div>    
    <div class="search-filters" v-show="filtersVisible === true">
      <slot></slot>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'ait-searchbox',
    
    props: {
      'placeholder': {
        type: String,
        default: 'Введите строку для поиска...'
      },
      'showFilters' : {
        type: Boolean,
        default: false
      }
    },

    data () {
      return {
        searchText: '',
        filtersVisible: false
      }
    },    

    mounted () {
      this.filtersVisible = this.showFilters;
    },

    methods: {
      doSearch () {
        if (this.searchText)
          this.$emit('do-search', this.searchText);
      }
    }
  }
</script>

<style scoped>
  .search-input {
    display: flex;
  }
  .search-input input {
    flex: 1;
  }
  .search-input i {
    flex: 0 0;
    margin-top: -10px;
    margin-left: -5px;
    cursor: pointer;
  }
</style>
