<template>
  <v-text-field
      v-bind="$attrs"
      v-on="$listeners"
      :value="value"
  ></v-text-field>
  <!--https://github.com/vuejs/vue/issues/6216-->
  <!--https://codepen.io/anon/pen/GxVJzW?editors=1010-->
</template>

<script>
  export default {
    name: 'ait-textbox',
    
    props: {
      'value': {
        type: String
      },
    },
  }    
</script>

<style scoped>
</style>
